@config "../tailwind.config.ts";
@import "tailwindcss";

/* === Base Layer === */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}